<?xml version='1.0' encoding='utf-8'?>
<config><main_maze><height>100</height><width>100</width><seed>3</seed></main_maze><solver_list><solver><name>Simple solver</name><command>python solvers/simple_solver.py</command><checked>False</checked></solver><solver><name>(Java) DFS</name><command>java -cp solvers DFS</command><checked>False</checked></solver><solver><name>(Java) Tremaux</name><command>java -cp solvers Tremaux</command><checked>True</checked></solver><solver><name>(Java) A*</name><command>java -cp solvers AStar</command><checked>True</checked></solver><solver><name>(Java) DFS(1GB)</name><command>java -Xss1024m -cp solvers DFS</command><checked>True</checked></solver></solver_list><maze_list><maze_param><height>1000</height><width>1000</width><seed>438239</seed></maze_param><maze_param><height>500</height><width>500</width><seed>449108</seed></maze_param></maze_list></config>