<?xml version='1.0' encoding='utf-8'?>
<config><main_maze><height>10</height><width>10</width><seed>3</seed></main_maze><solver_list><solver><name>Simple solver</name><command>python solvers/simple_solver.py</command><checked>False</checked></solver><solver><name>(Java) DFS</name><command>java -Xmx4g -Xms4g -Xbatch -Xss1024m -cp solvers DFS</command><checked>True</checked></solver><solver><name>(Java) A*</name><command>java -Xmx4g -Xms4g -Xbatch -Xss1024m -cp solvers AStar</command><checked>True</checked></solver><solver><name>(Java)Tremaux</name><command>java -Xmx4g -Xms4g -Xbatch -Xss1024m -cp solvers Tremaux</command><checked>True</checked></solver></solver_list><maze_list><maze_param><height>1000</height><width>1000</width><seed>249072</seed></maze_param></maze_list></config>